<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wykee.lovetest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/heartlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/heartlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3092533879997488~3649483394"/>

        <activity android:name=".Activities.OutputActivity"/>
        <activity android:name=".Activities.MainActivity"/>

        <activity
            android:name=".Activities.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>